<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/cb2dab820a.js" crossorigin="anonymous"></script>
    <title>Chat</title>
</head>
<body>
    <h1 class="hidden">Chat App</h1>
    <main id="app">
        <section>
            <header class="head">
                <div class="logo">
                    <img src="images/babblelogo.svg" alt="logo">
                </div>
                <a href="/">
                    <div action="/" class="leave-button">
                        <p>Leave Chat</p>
                    </div>
                </a>
                
            </header>
        </section>
        <section class="content">
            <div class="sidebar">
                <div class="user-header">
                    <i class="fa-solid fa-users"></i>
                    <h2 class="users">Users</h2>
                </div>
                <ul id="users">
                    <!--<li>John</li>
                    <li>Mary</li>
                    <li>Harry</li>-->
                </ul>
            </div>
            <div class="messages">
                <ul id="messages">
                    <!--render a new message component for every message-->
                    <newmsg v-for="message in messages" :message="message"></newmsg>
                    
                    <!--
                    <div class="othermessage">
                        <h3>John</h3>
                        <p>Hello</p>
                    </div>
                    <div class="mymessage">
                        <h3>Me</h3>
                        <p>Hello</p>
                    </div>-->
                </ul>
            </div>
        </section>
        <section class="fields">
            <form>
                <input
                @focus="catchTextFocus" v-model="message" id="textarea" class="message" placeholder="Your Message..."
                type="text"
                required
                autocomplete="off"
                />

                <button @click.prevent="dispatchMessage" type="text" class="send">
                    <p>Send</p>
                </button>
            </form>
                
        </section>

    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js" type="module" defer></script> 
</body>
</html>